.card.one .image {
    background-image: url("../images/Image-8.png"); 
}

.card.two .image {
    background-image: url("../images/Image-7.png"); 
}

.card.three .image {
    background-image: url("../images/Image-6.png"); 
}

.card.four .image {
    background-image: url("../images/Image-5.png"); 
}

.card.five .image {
    background-image: url("../images/Image-4.png"); 
}

.card.six .image {
    background-image: url("../images/Image-3.png"); 
}

.card.seven .image {
    background-image: url("../images/Image-2.png"); 
}

.card.eight .image {
    background-image: url("../images/Image-1.png"); 
}

.card.nine .image {
    background-image: url("../images/Image.png"); 
}